/* ================================
Intro
================================= */

#intro {
    height: 500px;
    width: 100%;
    background-color: #529abb;
    background-image: url('../../assets/img/main-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    text-align: initial;
    position: relative;
}

.intro-text {
    position: relative;
    width: 100%;
    margin-top: 50px;
    z-index: 1000;
}

#intro .brand {
    margin-top: 40px;
}

.intro-text h1 a {
    color: #FD3E81;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1em;
    padding-top: 30px;
    text-transform: uppercase;
}

.intro-text h1 a:hover {
    text-decoration: none;
}

.line-spacer {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #463F3A;
}

.intro-text p span {
    color: #A3BCF9;
    font-size: 45px;
    text-align: center;
    font-weight: 800;
}

.brand:last-child {
    font-size: 48px;
    color: #FD3E81;
}