<section id="mini-chat">

  <button type="button" class="button js-trigger" (click)="openDialog = true" *ngIf="!openDialog">Chat</button>

  <div *ngIf="openDialog" class="conversation">
    <div class="conversation__header" (click)="openDialog = false">
      {{owner}}
      <span class="close-msg">&times;</span>
    </div>
    <ul class="conversation__wrap" #scrollMe>
      <app-chat-item [message]="mensagemObj" *ngFor="let mensagemObj of mensagens">
      </app-chat-item>
    </ul>

    <input class="input" type="text" placeholder="Enter Message" (ngModel)="mensagemInserir" (keyup.enter)="enviaMensagem($event)"
    />
  </div>

</section>




<!-- <section class="row">
  <section class="col-md-12">
    <ul class="messageList list-group" #scrollMe>
      <app-chat-item [message]="mensagemObj" *ngFor="let mensagemObj of mensagens"></app-chat-item>
    </ul>
    <textarea [(ngModel)]="mensagemInserir" cols="30" rows="10"></textarea>
    <div class="text-right">
      <button class="btn btn-primary" (click)="enviaMensagem()">Salvar</button>
    </div>
  </section>
</section> -->