/* ================================
Home sections
================================= */

.home-section {
    width: 100%;
    padding: 90px 0px 150px 0px;
}


/* --- heading --- */

.section-heading {
    margin-bottom: 70px;
}

.section-heading h2 {
    font-size: 38px;
    text-transform: uppercase;
}

.section-heading .heading-line {
    margin: 0 auto;
    display: block;
    height: 1px;
    width: 80px;
    background: #333;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bg-white {
    background: #fff;
}