<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-4">
        <div class="col-md-offset-2 col-md-8">
          <h5 style="color:#fff">We're on social networks</h5>
          <ul class="social-network">
            <li>
              <a href="https://www.facebook.com/joelton.matos" target="_blank">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/joeltonmatos" target="_blank">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://github.com/joeltonmats" target="_blank">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <div class="col-md-12" style="padding-top:5px;">
            <a>Pretty Dog</a> by
            <a href="https://br.linkedin.com/in/joelton-matos-0b56884b" target="_blank">Joelton Matos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>