/* ================================
Bottom widget
================================= */

ul.social-network {
    margin: 0;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

ul.social-network li {
    display: inline;
    margin: 5px 5px;
}

ul.social-network li a:hover span .fa-circle {
    color: #2b2b2b;
}


/* ================================
Footer
================================= */

.credits {
    padding-top: 15px;
}

footer {
    background: #2b2b2b;
    color: #ddd;
    padding: 50px 0 30px;
}