<section class="profile-body">
  <section id="intro" class="intro">
    <div class="page-scroll">
      <a href="#about">
        <i class="fa fa-angle-down fa-5x animated"></i>
      </a>
    </div>
  </section>

  <!--sub header-->
  <section class="row primary-sub-header">
    <div class="col-md-6 col-xs-12">
      <div class="text-center">
        <a (click)="myVote('love',optionsClass.loveClass)">
          <i class="fa {{optionsClass.loveClass}} fa-3x" aria-hidden="true"></i>
        </a>

        <a (click)="myVote('like',optionsClass.likeClass)">
          <i class="fa {{optionsClass.likeClass}} fa-3x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="text-center">
        <a href="#" id="share-fb" class="sharer button"><i class="fa fa-3x fa-facebook-square"></i></a>
        <a href="#" id="share-tw" class="sharer button"><i class="fa fa-3x fa-twitter-square"></i></a>
        <a href="#" id="share-li" class="sharer button"><i class="fa fa-3x fa-linkedin-square"></i></a>
      </div>
    </div>
  </section>
</section>

<ngb-tabset activeId="gallery-tab">
  <ngb-tab title="My little world">
    <ng-template ngbTabContent>
      <section class="my-little-world">
        <div class="row">
          <!-- Section: about -->
          <section id="about" class="home-section">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="section-heading text-center">
                    <div class="wow bounceInDown" data-wow-delay="0.2s">
                      <h2>My name is Puppy</h2>
                    </div>
                    <p class="wow bounceInUp" data-wow-delay="0.3s">I'm 28 years old from a village near Alpen mountain and I'm a spinster :(</p>
                  </div>

                </div>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-md-4 primary-img">
                  <div>
                    <img src="https://4.bp.blogspot.com/-9nKE3vaxfu0/V0-qdhLE4VI/AAAAAAAABvg/o67WUw__PqAGNZUjzRjnjcx7o_uGBrzeQCLcB/s1600/enrichment-for-dogs.jpg"
                      class="rounded float-left">
                  </div>
                  <div class="text-center">
                    <button href="#gallery " class="btn btn-lg btn-primary ">See my photos</button>
                  </div>
                </div>
                <div class="col-md-8 ">
                  <p>
                    <strong>You'll Love me so much</strong>
                  </p>
                  <p>See my rates :)</p>


                  <!-- Section: separator -->
                  <section id="separator" class="home-section parallax text-center" data-stellar-background-ratio="0.5">
                    <div class="row">
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="align-center txt-shadow">
                          <div class="icon">
                            <i class="fa fa-graduation-cap fa-5x"></i>
                          </div>
                          <span class="color-white">Bachelor of Design</span>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="align-center txt-shadow">
                          <div class="icon">
                            <i class="fa fa-heart fa-5x"></i>
                          </div>
                          <span class="color-white">Lovely 300 Likes</span>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="align-center txt-shadow">
                          <div class="icon">
                            <i class="fa fa-plane fa-5x"></i>
                          </div>
                          <span class="color-white">I love traveling</span>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="align-center txt-shadow">
                          <div class="icon">
                            <i class="fa fa-camera fa-5x"></i>
                          </div>
                          <span class="color-white">I'm photographer</span>
                        </div>
                      </div>
                    </div>

                  </section>
                  <!-- /Section: separator -->
                </div>
              </div>
            </div>
          </section>
          <!-- /Section: about -->
        </div>
      </section>







      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
        cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
        synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
        aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="gallery-tab">
    <ng-template ngbTabTitle>
      <b>My</b> Pictures</ng-template>
    <ng-template ngbTabContent>

      <!-- Section: gallery -->
      <section id="gallery" class="home-section text-center bg-gray">

        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="wow bounceInDown" data-wow-delay="0.4s">
                <div class="section-heading">
                  <h2>My photo gallery</h2>
                  <p>Take a look at my personal moment, enjoy</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container gallery-container">

          <h1>Bootstrap 3 Gallery</h1>

          <p class="page-description text-center">Grid Layout With Zoom Effect</p>

          <div class="tz-gallery">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg">
            <img src="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg" alt="Park">
          </a>
              </div>
              <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg">
            <img src="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg" alt="Park">
          </a>
              </div>
              <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg">
            <img src="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg" alt="Park">
          </a>
              </div>
              <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg">
            <img src="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg" alt="Park">
          </a>
              </div>
              <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg">
            <img src="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg" alt="Park">
          </a>
              </div>
              <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg">
            <img src="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg" alt="Park">
          </a>
              </div>
              <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg">
            <img src="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg" alt="Park">
          </a>
                <button>Acao 1</button>
                <button>Acao 2</button>
                <button>Acao 3</button>
              </div>
              <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg">
            <img src="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg" alt="Park">
          </a>
                <div>
                  <button>Acao 1</button>
                  <button>Acao 2</button>
                  <button>Acao 3</button>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg">
            <img src="https://i.pinimg.com/736x/c2/7a/96/c27a96813b1572c6c2849f7ec43028db--learn-photography-photography-poses.jpg" alt="Park">
          </a>

              </div>
            </div>

          </div>

        </div>

      </section>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Play with me</ng-template>
    <ng-template ngbTabContent>
      <div class="play-with-me">
        <h2>Below threre is my favourite picture. Try play with a little clicking how times you can</h2>

        <div class="my-favourite-picture">
          <div class="row button-click">
            <div class="col-md-12">
              <div class="wrap">
                <button class="clicker fast" (click)="increaseQtdClick()" [ngClass]="levelUpClicker">
                  <span *ngIf="qtdClick == 0">press</span>
                  <span *ngIf="qtdClick > 0">{{qtdClick}}</span>
                  </button>
                <div class="circle angled second"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="text-center" style="padding-top:10px">
              <button class="btn btn-xs btn-danger" (click)="resetClick()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Talk with my father</ng-template>
    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
        beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
        PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero
        magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard
        ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente
        accusamus tattooed echo park.</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="My Videos">
    <ng-template ngbTabContent>
      <section id="my-videos" style="margin-top:30px">
        <div class="row">
          <div class="col-md-3 video-embed">
            <youtube-player [videoId]="'K5g3j8r5DPE'"></youtube-player>
          </div>
          <div class="col-md-3 video-embed">
            <youtube-player [videoId]="'K5g3j8r5DPE'"></youtube-player>
          </div>
          <div class="col-md-3 video-embed">
            <youtube-player [videoId]="'K5g3j8r5DPE'"></youtube-player>
          </div>
          <div class="col-md-3 video-embed">
            <youtube-player [videoId]="'K5g3j8r5DPE'"></youtube-player>
          </div>
        </div>
      </section>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Favourite Places" [disabled]="true">
    <ng-template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
        cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
        synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
        aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>







<p>
  user-detail works with id {{idUser}} !!
</p>