    .introduction-area {
        width: 100%;
        height: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #888;
        font-size: 16px;
        line-height: 1.6em;
        background-color: #fff;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 30px;
        font-family: 'Varela Round', sans-serif;
        font-weight: 400;
        color: #444;
    }

    .intro {
        width: 100%;
        position: relative;
        background: url('') no-repeat center;
        background-size: cover;
    }

    .my-favourite-picture {
        max-width: 50%;
        min-height: 400px;
        position: relative;
        background: url('../../../assets/img/main-bg2.jpg') no-repeat center;
        background-size: cover;
        margin: 0 auto;
    }

    .my-favourite-picture .button-click {
        position: absolute;
        top: 40%;
        left: 45%;
    }

    #intro2 {
        width: 100%;
        position: relative;
        background: url('../../../assets/img/main-bg2.jpg') no-repeat center;
        background-size: cover;
    }

    #intro.intro {
        padding: 200px 0 150px 0;
    }

    .brand-heading {
        font-size: 40px;
    }

    .intro-text {
        font-size: 18px;
    }

    .home-section {
        padding: 50px;
        padding-bottom: 200px;
    }

    .label-rate {
        color: #102542;
        font-weight: 800;
    }

    .play-with-me {
        padding: 80px;
    }
    /* ------- primary-sub-header ------------ */

    .primary-sub-header {
        padding: 20px 0;
        background-color: #DDD;
    }

    .primary-sub-header a {
        margin-right: 10px;
    }

    .primary-sub-header a:hover i {
        color: #FD3E81;
    }

    .primary-sub-header a i {
        color: #102542;
    }

    .selected {
        background-color: yellow;
    }

    .primary-img img {
        max-width: 100%;
        padding-bottom: 10px;
    }

    .icon i {
        color: violet;
        transition: font-size .5s;
    }

    .icon i:hover {
        color: red;
        font-size: 6em;
    }

    .container.gallery-container {
        background-color: #fff;
        color: #35373a;
        min-height: 100vh;
        border-radius: 20px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    }

    .gallery-container h1 {
        text-align: center;
        margin-top: 70px;
        font-family: 'Droid Sans', sans-serif;
        font-weight: bold;
    }

    .gallery-container p.page-description {
        text-align: center;
        max-width: 800px;
        margin: 25px auto;
        color: #888;
        font-size: 18px;
    }

    .tz-gallery {
        padding: 40px;
    }

    .tz-gallery .lightbox img {
        width: 100% !important;
        margin-bottom: 30px !important;
        transition: 0.2s ease-in-out !important;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) !important;
    }

    img.ng-thumb {
        width: 100% !important;
        margin-bottom: 30px !important;
        transition: 0.2s ease-in-out !important;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) !important;
    }

    img.ng-thumb:hover {
        transform: scale(1.05) !important;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3) !important;
    }

    .tz-gallery .lightbox img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }

    .tz-gallery img {
        border-radius: 4px;
    }

    .baguetteBox-button {
        background-color: transparent !important;
    }

    .ng-thumb {
        height: 250px !important;
        float: left;
        display: block;
        cursor: pointer;
        margin: 2px 2px 0 0;
        max-width: 250px !important;
    }

    .nav-link.active {
        color: #fff;
        background-color: #007bff;
    }

    @media(max-width: 768px) {
        .container.gallery-container {
            border-radius: 0;
        }
    }
    /*** PLAY WITH IMAGE DEMO ***/

    .wrapper-playimg img {
        max-width: 50%;
        padding: 20px;
    }
    /*mode one*/
    /*mode 2 */

    @import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");
    .button-mode-two {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 1.5rem 4.5rem;
        background: yellow;
        color: blue;
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: normal;
        border: 0;
        border-radius: 0.4rem;
        box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
        appearance: none;
        cursor: pointer;
        transition: background 250ms, box-shadow 250ms;
    }

    .button-mode-two:hover {
        background: yellow;
        ;
        box-shadow: -2px 2px 16px rgba(0, 0, 0, 0.6);
    }

    .button-mode-two:active,
    .button-mode-two:focus {
        outline: none;
    }

    .button-mode-two:active {
        box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.8);
    }

    .button-mode-two .text {
        position: relative;
        z-index: 2;
    }

    .button-mode-two .dot {
        position: absolute;
        z-index: -1;
        display: block;
        width: 200px;
        height: 10px;
        transform-origin: 5px 5px;
        pointer-events: none;
    }

    .button-mode-two .dot:nth-child(1) {
        top: 50%;
        left: 100%;
        transform: translate3d(-10px, -5px, 0);
    }

    .button-mode-two .dot:nth-child(2) {
        bottom: 0;
        left: 100%;
        transform: translate3d(-10px, 0, 0) rotate(45deg);
    }

    .button-mode-two .dot:nth-child(3) {
        bottom: 0;
        left: 50%;
        transform: translate3d(-5px, 0, 0) rotate(90deg);
    }

    .button-mode-two .dot:nth-child(4) {
        bottom: 0;
        left: 0;
        transform: rotate(135deg);
    }

    .button-mode-two .dot:nth-child(5) {
        top: 50%;
        left: 0;
        transform: translate3d(0, -5px, 0) rotate(180deg);
    }

    .button-mode-two .dot:nth-child(6) {
        top: 0;
        left: 0;
        transform: rotate(225deg);
    }

    .button-mode-two .dot:nth-child(7) {
        top: 0;
        left: 50%;
        transform: translate3d(-5px, 0, 0) rotate(270deg);
    }

    .button-mode-two .dot:nth-child(8) {
        top: 0;
        left: 100%;
        transform: translate3d(-10px, 0, 0) rotate(315deg);
    }

    .button-mode-two .dot::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
        offset-path: path("M0 1c7.1 0 10.7 2 14.3 4s7.1 4 14.3 4 10.7-2 14.3-4 7.2-4 14.3-4 10.7 2 14.3 4 7.1 4 14.3 4 10.7-2 14.3-4 7.1-4 14.3-4 10.7 2 14.3 4 7.1 4 14.3 4 10.7-2 14.3-4 7.1-4 14.3-4 10.7 2 14.3 4 7.1 4 14.3 4");
        offset-distance: 0;
        pointer-events: none;
        content: "";
    }

    .button-mode-two.is-animating .dot::before {
        -webkit-animation: dot 750ms cubic-bezier(0.215, 0.61, 0.355, 1);
        animation: dot 750ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    @-webkit-keyframes dot {
        0% {
            offset-distance: 0%;
            opacity: 1;
        }
        100% {
            offset-distance: 100%;
            opacity: 0;
        }
    }

    @keyframes dot {
        0% {
            offset-distance: 0%;
            opacity: 1;
        }
        100% {
            offset-distance: 100%;
            opacity: 0;
        }
    }
    /*mode 1*/

    .big-button {
        position: relative;
        background-color: #FFF;
        color: #000000;
        font-family: 'Sansita One', cursive;
        font-size: 10px;
        font-weight: 400;
        height: 30px;
        width: 110px;
        text-decoration: none;
        text-transform: capitalize;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -webkit-box-shadow: 0px 6px 0px #FD3E81, 0px 8px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 6px 0px #FD3E81, 0px 8px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 6px 0px #FD3E81, 0px 8px 10px rgba(0, 0, 0, 0.5);
        border-color: #FD3E81;
        border-width: 4px;
        border-radius: 40px 100px 100px 100px;
        padding: 20px;
    }

    .big-button:active {
        box-shadow: 0px 3px 0px #FD3E81, 0px 3px 6px rgba(0, 0, 0, .9);
        position: relative;
        top: 5px;
        border: none;
    }
    /*mode 2*/

    .box {
        width: 50px;
        height: 50px;
        border-top: 2px solid #fff;
        border-radius: 50%;
        margin-top: 10px;
        background-color: #EEEEEE;
        background: linear-gradient(#FD3E81, #FD3E81);
        text-align: center;
        cursor: pointer;
        position: relative;
    }

    .box:active {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-top: none;
        border: 2px solid #FD3E81;
        background-color: #FD3E81;
        text-align: center;
        position: relative;
        color: #FD3E81;
        font-size: 32px;
        line-height: 50px;
        text-shadow: 0 1px 1px white, 0 1px 1px #FD3E81;
        box-shadow: 0 0 0 0 #FD3E81;
    }

    .box:before {
        content: " ";
        display: block;
        position: absolute;
        width: 83px;
        height: 77px;
        border-radius: 50%;
        border-top: 2px solid #FD3E81;
        border-bottom: 1px solid #FD3E81;
        left: -17.5px;
        top: -16px;
        background: -moz-linear-gradient(#FD3E81, #FD3E81);
        box-shadow: inset 1px 0 1px 0px #FD3E81;
    }

    p,
    p a {
        text-shadow: 1px 1px 1px white;
        color: #7E7E7E;
        text-align: center;
        font-size: 9px;
        line-height: 2;
        text-decoration: none;
        margin-bottom: 15px;
    }

    .box span {
        display: inline-block;
        box-shadow: inset 0 1px 1px 1px #102542, 0 1px 1px 102542;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: linear-gradient(#102542, #102542);
        margin: 20px auto;
    }
    /*mode 5*/

    .container {
        margin: auto;
        text-align: center;
    }

    .wrap {
        position: relative;
        width: 80px;
        height: 80px;
        margin: 20px auto 30px auto;
    }

    .wrap:last-child {
        margin-bottom: 0;
    }

    .clicker {
        background-color: white;
        outline: none;
        font-weight: 600;
        position: absolute;
        cursor: pointer;
        padding: 0;
        border: none;
        height: 64px;
        width: 64px;
        left: 8px;
        top: 8px;
        border-radius: 100px;
        z-index: 2;
    }

    .clicker-level-medium {
        background: #03001e;
        background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
        background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
    }

    .clicker-level-professional {
        background: #00d2ff;
        background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
        background: linear-gradient(to right, #3a7bd5, #00d2ff);
    }

    .clicker-level-lord {
        background: #2F7336;
        background: -webkit-linear-gradient(to right, #AA3A38, #2F7336);
        background: linear-gradient(to right, #AA3A38, #2F7336);
    }

    .clicker-level-king {
        background: #bc4e9c;
        background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
        background: linear-gradient(to right, #f80759, #bc4e9c);
    }

    .clicker-level-legend {
        background: #C02425;
        background: -webkit-linear-gradient(to right, #F0CB35, #C02425);
        background: linear-gradient(to right, #F0CB35, #C02425);
    }

    .clicker-level-finish {
        background: #000000;
        background: -webkit-linear-gradient(to right, #434343, #000000);
        background: linear-gradient(to right, #434343, #000000);
    }

    .clicker:active {
        transform: translate(0, 1px);
        height: 63px;
        box-shadow: 0px 1px 0 0 rgb(190, 190, 190) inset;
    }

    .circle {
        position: relative;
        border-radius: 40px;
        width: 80px;
        height: 80px;
        z-index: 1;
    }

    .circle.third {
        border-radius: 0;
    }

    .clicker.faster:hover+.circle,
    .clicker.faster:active+.circle {
        animation: rotator linear .4s infinite;
    }

    .clicker.fast:hover+.circle,
    .clicker.fast:active+.circle {
        animation: rotator linear .5s infinite;
    }

    .clicker:hover+.circle,
    .clicker:active+.circle {
        animation: rotator linear .8s infinite;
    }

    @keyframes rotator {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .angled {
        background-image: linear-gradient(45deg, transparent 0%, transparent 30%, #FD3E81 30%, #FD3E81 70%, transparent 70%, transparent 100%);
    }

    .angled.second {
        background-image: linear-gradient( transparent 0%, transparent 30%, rgb(250, 160, 120) 30%, rgb(250, 160, 120) 70%, transparent 70%, transparente 100%);
    }

    .angled.third {
        background-image: linear-gradient(45deg, transparent 0%, transparent 30%, #FD3E81 30%, #FD3E81 70%, transparent 70%, transparent 100%);
    }
    /*last*/

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .fa-heart,
    .fa-thumbs-up,
    .fa-plane {
        color: #FD3E81 !important;
    }

    .nav-link {
        color: #102542;
        font-size: 18px;
    }

    .video-embed {
        max-width: 100%;
        padding-right: 13px;
    }
    /* chat */

    .cf:after {
        content: "";
        display: table;
        clear: both;
    }

    .show-me {
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -webkit-transform: translate3d(-300px, 0, 0);
        transform: translate3d(-300px, 0, 0);
    }

    .title {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        height: 100px;
        text-align: center;
        font-size: 8vw;
        font-weight: 600;
    }

    #mini-chat .button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-family: "Lato";
        -webkit-appearance: none;
        font-size: 1rem;
        line-height: 1.2;
        border-radius: 3px;
        border: 3px solid #343436;
        background: #343436;
        color: white;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none !important;
        cursor: pointer;
        text-align: center;
        font-weight: normal;
        padding: 10px 16px;
        padding-left: 30px;
        outline: 0;
    }

    #mini-chat .button:before {
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        margin: auto;
        width: 10px;
        height: 10px;
        background: #53DD6C;
        content: "";
        border-radius: 100px;
    }

    #mini-chat .button:hover {
        background: #4d4d50;
    }

    #mini-chat .button:active {
        bottom: 17px;
    }

    .conversation {
        /* display: none; */
        position: fixed;
        bottom: 0;
        right: 200px;
        width: 300px;
        height: 350px;
        background: black;
    }

    .conversation__header {
        color: #ccc;
        padding: 15px 10px;
        background: #343436;
        border-top: 2px solid #FEDD31;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .conversation__msg {
        padding: 5px 10px;
        color: white;
        list-style-type: none;
        font-size: 12px;
    }

    .conversation__msg span {
        background: white;
        color: black;
        display: table;
        padding: 10px 20px;
        border-radius: 100px;
        float: left;
    }

    .right {
        float: right !important;
        background: #0ebeff !important;
        color: white !important;
    }

    #mini-chat .input {
        position: relative;
        bottom: 0px;
        width: 100%;
        padding: 20px;
        background: #0a0a0a;
        border: 0;
        outline: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        color: white;
        font-weight: 500;
        background: #74ebd5;
        background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
        background: linear-gradient(to right, #ACB6E5, #74ebd5);
    }

    #mini-chat ::-webkit-input-placeholder {
        color: white;
        font-weight: 500;
    }

    #mini-chat .input:focus {
        background: #bc4e9c;
        background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
        background: linear-gradient(to right, #f80759, #bc4e9c);
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }

    .close-msg {
        float: right;
        font-size: 20px;
        margin-top: -4px;
    }

    .conversation__wrap {
        max-height: 208px;
        overflow-y: scroll;
        min-height: 225px;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
        position: fixed;
        bottom: 20px;
        left: 2.5%;
        z-index: 1000;
    }

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }