<section class="introduction-area">

  <!-- back button -->
  <button type="button" class="btn btn-danger btn-circle btn-lg" title="back" (click)="previousPage()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>

  <!-- cover area -->
  <section id="intro" class="intro" [ngStyle]="{'background-image': 'url(' + (dogSelected ? dogSelected.pictureObject.cover_picture.url: 'http://www.publicdomainpictures.net/pictures/70000/velka/old-white-background.jpg') + ')'}">
  </section>

  <!--sub header-->
  <section class="row primary-sub-header">
    <div class="col-md-6 col-xs-12">
      <div class="text-center">
        <a (click)="myVote('love',optionsClass.loveClass)">
          <i class="fa {{optionsClass.loveClass}} fa-3x" aria-hidden="true"></i>
        </a>

        <a (click)="myVote('like',optionsClass.likeClass)">
          <i class="fa {{optionsClass.likeClass}} fa-3x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="text-center">
        <a id="share-fb" class="sharer button">
          <i class="fa fa-3x fa-facebook-square"></i>
        </a>
        <a id="share-tw" class="sharer button">
          <i class="fa fa-3x fa-twitter-square"></i>
        </a>
        <a id="share-li" class="sharer button">
          <i class="fa fa-3x fa-pinterest"></i>
        </a>
      </div>
    </div>
  </section>
</section>
<!-- end introduction-area -->

<!-- main-content -->
<ngb-tabset activeId="dashboard-tab" #t="ngbTabset">

  <!-- Dashboard Tab -->
  <ngb-tab title="My little world" id="dashboard-tab">
    <ng-template ngbTabContent>
      <!-- temp -->
      <section>
        <section class="home-section">
          <div class="container">

            <div class="row">
              <div class="col-md-12">
                <div class="section-heading text-center">
                  <div class="wow bounceInDown">
                    <h2 style="margin-bottom:30px;">My name is {{dogSelected ?dogSelected.name:''}}</h2>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="dogSelected">
              <div class="col-md-6 primary-img">
                <img [src]="dogSelected.pictureObject.profile_picture.url" class="rounded">
                <div class="text-center">
                  <button href="#gallery " class="btn btn-md btn-primary " (click)="t.select('gallery-tab')">See my photos</button>
                </div>
              </div>
              <div class="col-md-6">
                <section id="separator" class="text-center">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4">
                      <div class="align-center txt-shadow">
                        <div class="icon">
                          <i class="fa fa-thumbs-up fa-5x"></i>
                        </div>
                        <span class="label-rate">{{dogSelected.rating.qtdLike}}+</span>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4">
                      <div class="align-center txt-shadow">
                        <div class="icon">
                          <i class="fa fa-heart fa-5x"></i>
                        </div>
                        <span class="label-rate">{{dogSelected.rating.qtdLove}}+</span>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4">
                      <div class="align-center txt-shadow">
                        <div class="icon">
                          <i class="fa fa-plane fa-5x"></i>
                        </div>
                        <span class="label-rate">I love traveling</span>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </section>
      </section>

      <!-- end temp -->
    </ng-template>
  </ngb-tab>
  <ngb-tab id="gallery-tab">
    <ng-template ngbTabTitle>
      <b>My</b> Pictures</ng-template>
    <ng-template ngbTabContent>

      <!-- Section: gallery -->
      <section id="gallery" class="home-section text-center bg-gray">
        <div class="container gallery-container">

          <h1>{{dogSelected.owner.name}} 's Gallery</h1>

          <p class="page-description text-center">Happy Day :)</p>

          <div class="tz-gallery">
            <div class="row" *ngIf="dogSelected">
              <div class="col-md-12">
                <ngx-gallery [options]="galleryOptions" [images]="dogImages"></ngx-gallery>
              </div>
            </div>

          </div>
        </div>

      </section>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Play with me</ng-template>
    <ng-template ngbTabContent>
      <div class="play-with-me">
        <h2>Below threre is my favourite picture. Try play with a little clicking how times you can</h2>

        <div class="my-favourite-picture" [ngStyle]="{'background-image': 'url(' + (dogSelected ? dogSelected.pictureObject.pictures[0].url: 'http://www.publicdomainpictures.net/pictures/70000/velka/old-white-background.jpg') + ')'}">
          <div class="row button-click">
            <div class="col-md-12">
              <div class="wrap">
                <button class="clicker fast" (click)="increaseQtdClick()" [ngClass]="levelUpClicker">
                  <span *ngIf="qtdClick == 0">press</span>
                  <span *ngIf="qtdClick > 0">{{qtdClick}}</span>
                </button>
                <div class="circle angled second"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="text-center" style="padding-top:10px">
              <button class="btn btn-xs btn-danger" (click)="resetClick()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="My Videos">
    <ng-template ngbTabContent>
      <section id="my-videos" style="margin-top:30px">
        <div class="row">
          <div class="col-md-3 video-embed">
            <youtube-player [videoId]="'K5g3j8r5DPE'"></youtube-player>
          </div>
          <div class="col-md-3 video-embed">
            <youtube-player [videoId]="'K5g3j8r5DPE'"></youtube-player>
          </div>
          <div class="col-md-3 video-embed">
            <youtube-player [videoId]="'K5g3j8r5DPE'"></youtube-player>
          </div>
          <div class="col-md-3 video-embed">
            <youtube-player [videoId]="'K5g3j8r5DPE'"></youtube-player>
          </div>
        </div>
      </section>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Favourite Places" [disabled]="true">
    <ng-template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
        cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
        synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
        aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>


<section id="mini-chat">

  <button type="button" class="button js-trigger" (click)="openDialog = true" *ngIf="!openDialog">My Onwer</button>

  <div *ngIf="openDialog" class="conversation">
    <div class="conversation__header" (click)="openDialog = false">
      {{dogSelected.owner.name}}
      <span class="close-msg">&times;</span>
    </div>
    <ul class="conversation__wrap" #scrollMe>
      <app-chat-item [message]="mensagemObj" *ngFor="let mensagemObj of mensagens"></app-chat-item>
    </ul>

    <input class="input" type="text" placeholder="Enter Message" (ngModel)="mensagemInserir" (keyup.enter)="enviaMensagem($event)"
    />
  </div>

</section>